#board {
  border: 2px solid red;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
#game-console {

}
.tile {
  border: 1px solid black;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: auto;
  margin-right: auto;

}
.row {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

