#board {

  width: 500px;
  font-size: 0px;
  margin-right: auto;
  margin-left: auto;
}
#game-console {

}
.tile {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  display: inline-block;
}
.input {
  width: 15px;
  text-align: center;
}
.button {
  display: inline;
  margin-left: 10px;
  border: 1px solid black;
}
.mine {
  background-color: red;
}
.adjacent {
  background-color: yellow;
  font-size: 15px;
  vertical-align: top;
  text-align: center;
}
.cleared {
  background-color: #62311D;

}
.tile:hover {
  border: solid red 1px;
}
